.blog-page {
  font-size: 20px;
  padding: clamp(120px, 11vw, 240px) clamp(12px, 16vw, 420px) 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: rgb(201, 201, 201);
}

.blog-page img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.blog-page h1 {
  font-size: 24px;
}

.blog-page p {
  /* font-size: 21px; */
  margin-bottom: 1rem;
}

.blog-page strong {
  font-weight: bold;
}

.blog-page .blog-metadata {
  margin: 2rem 0 3rem;
  font-style: italic;
  font-size: 1rem;
  color: #666;
}

.blog-page .blog-metadata p {
  margin: 0.5rem 0;
}

/* Responsive Styles */
@media (max-width: 900px) {
.blog-page {
  font-size: 20px;
}

  .blog-page p{
    font-size: 18px;
  }

  .blog-page h1 {
    font-size: 1.5rem;
  }
}
