@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

nav.DaoProfile {
  height: clamp(156px, 60vw, 571px);
  background-color: #636844;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
}

main.daoMain {
  background-color: #ffffff;
  padding-top: clamp(640px, 48vw, 680px);
}

.daoImage {
  width: 100%;
  padding: 0 24px;
  position: absolute;
  top: clamp(64px, 9vw, 164px);
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.daoImage img {
  width: 100%;
  border-radius: clamp(24px,3vw,48px);
  object-fit: cover;
}

.daoMain .first {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0 16px 0 36px;
}

.daoMain .first .left {
  padding-left: 24px;
}

.daoMain .left .one, .superAdmin .top .one {
  position: relative;
  padding: 0 0 clamp(16px, 7vw, 48px);
}

.daoMain .left .one::after, .superAdmin .top .one.onesy::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 450px;
  background-color: #d9d9d9;
}

.daoMain .one h1, .superAdmin .top .one h1 {
  color: #433939;
  font-size: clamp(24px, 3vw, 45px);
  font-family: "DM Mono", sans-serif;
}

.daoMain .location, .superAdmin .top .one .location {
  margin: 9px 0;
  display: flex;
  gap: clamp(9px, 1vw, 16px);
  align-items: center;
}

.daoMain .location p, .superAdmin .top .one .location p {
  color: #a39898;
  font-size: clamp(16px, 3vw, 27px);
}

.daoMain .email, .superAdmin .top .one .email {
  color: #f8b859;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 27px);
}

.daoMain .section-21 {
  margin: clamp(12px,1vw,18px) 0;
  padding: 0 clamp(12px,5vw,24px) 0 0;
  font-size: clamp(20px,4vw,31px);
  color: #433939;
}

.daoMain .section-22 {
  margin: clamp(12px,1vw,18px) 0;
  padding: 0 clamp(12px,5vw,24px) 0 0;
  font-size: clamp(24px,3vw,48px);
  font-weight: bold;
}

.DaoOperations h1 {
  color: #433939;
  font-size: clamp(20px,3vw,45px);
  font-family: "DM Mono", sans-serif;
  padding: 16px 0 16px 3px;
  position: relative;
}

.DaoOperations h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  width: 450px;
  background-color: #ffbd59;
}

.DaoOperations .button-group,
.owner .button-group {
  margin: 16px;
  gap: 16px;
}

.DaoOperations button,
.owner button {
  height: 53px;
  border: none;
  font-weight: bold;
  font-size: 1px;
}

.DaoOperations .button-1,
.owner .button-1 {
  background-color: #56923f;
  color: #fbfaf8;
  border-radius: 10px;
  font-size: 14px;
}

.DaoOperations .button-2,
.owner .button-2 {
  font-size: 14px;  
  color: #433939;
}

.treasury, .superAdmin .top .two {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 48px 56px;
}

.treasury .first, .superAdmin .top .two .first {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 24px;
  gap: 12px;
}

.treasury .first::after,.superAdmin .top .two .first::after, .superAdmin .section::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0px;
  right: 0px;
  background-color: #ffbd59;
}

.treasury .one, .superAdmin .top .two .one {
  display: flex;
  gap: clamp(24px,4vw,88px);
}

.treasury .one .left, .superAdmin .top .two .one .left {
  padding-top: 16px;
  color: #433939;
  font-size: 19px;
  font-weight: bold;
}

.treasury .one .right, .superAdmin .top .two .one .right {
  color: #a39898;
  font-size: 31px;
  font-weight: bold;
}

.treasury .amount, .superAdmin .top .two .amount {
  font-size: clamp(24px,3.7vw,50px);
  display: flex;
  align-items: center;
}

.treasury .section-3 {
  margin-bottom: 24px;
  padding: 24px;
  border: none;
  gap: 0px;
  position: relative;
  width: auto;
}

.treasury .section-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0px;
  right: 12px;
  background-color: #ffbd59;
}

.treasury .taarifa {
  border-radius: 6px;
  background-color: #ffffff;
}

.treasury .section-3 h2 {
  width: 249px;
  font-size: clamp(12px,2vw,26px);
  padding-top: 9px;
}

.treasury .section-3 .bottom p {
  padding-left: 32px;
}

.section-3 .fundDao {
  margin-top: 64px;
  display: flex;
  justify-content: end;
}

.fundDao button {
  width: 182px;
  height: 36px;
  color: #ffffff;
  border: 1px solid #dcb273;
  border-radius: 6px;
  background-color: #4e79e8;
  font-size: 19px;
  font-weight: bold;
}

.treasury-history h1 {
  margin-left: 28px;
  color: #7d7272;
  font-size: 27px;
  font-weight: 400;
}

.treasury-history #treasury-history {
  height: 481px;
  border-radius: 10px;
  margin: 16px 0 24px 12px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#treasury-history::-webkit-scrollbar {
  display: none;
}

#treasury-history .slot {
  padding: 24px 12px 24px 24px;
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
}

.slot .left {
  width: 50%;
  display: flex;
  gap: 16px;
  align-items: center;
}

.slot .left div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slot .left p {
  font-size: 11px;
  margin-left: 4px;
}

.slot h1 {
  margin: 0;
  color: #433939;
  font-size: 18px;
  font-weight: bold;
}

.slot .right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.slot .right div {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
}

.slot .right .top {
  padding: 0;
  color: #433939;
  font-size: 15px;
  font-weight: bold;
}

.slot .right .bottom {
  padding: 0;
  color: #433939;
  font-size: 12px;
  font-weight: 500;
}

.history-button {
  text-align: center;
}

.history-button button {
  width: 182px;
  height: 36px;
  color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcb273;
  background-color: #60ce60;
  font-size: 19px;
}

section.second {
  margin-bottom: 120px;
  position: relative;
}

section.second::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 480px;
  height: 1px;
  width: 473px;
  background-color: #ffbd59;
}

.second .main {
  margin-left: 116px;
  width: 312px;
  height: 37px;
  color: #171717;
  font-size: 32px;
  font-weight: normal;
}

.second .proposal-groups {
  position: relative;
  margin: 28px 0 64px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.second .proposal-groups::before {
  content: "";
  position: absolute;
  left: 36px;
  top: 310px;
  height: auto;
  width: 2px;
  background-color: #d9d9d9;
  opacity: 23%;
}

.second .proposal-groups::-webkit-scrollbar {
  display: none;
}

.second .proposal {
  margin: 0 74px;
  padding: 36px 44px 24px 64px;
  border-radius: 9px;
  background-color: #d9d9d9;
}

.proposal .one {
  display: flex;
  justify-content: space-between;
}

.proposal .one h1 {
  margin-top: 24px;
  color: #000000;
  font-size: 35px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

.proposal .one div {
  width: 231px;
  height: 38px;
  border-radius: 57px;
  background-color: #d23737;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfaf8;
  font-family: "Syne", sans-serif;
}

.proposal .one .inProgress, .viewProposal .one button.inProgress {
  background-color: #61ae45;
}

.proposal .two {
  margin: 16px 30px 0;
  font-size: 22px;
  color: #000000;
}

.proposal .three {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.proposal .three .button-group.button {
  padding: 0;
  margin-left: 24px;
  margin-top: 48px;
  gap: 24px;
  display: flex;
}

.proposal .three .button-group.button button {
  width: clamp(120px,20vw,261px);
  height: 39px;
  border-radius: 19px;
  font-size: clamp(12px,1.5vw,20px);
  color: #ffffff;
  background-color: #e28b06;
  padding: 0;
}

.proposal .three .button-group.button .button-2 {
  background-color: #000000;
  text-decoration: underline;
}

.proposal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #433939;
  gap: 9px;
}

.proposal-right h2 {
  margin-left: 56px;
  font-size: 21px;
}

.proposal-right p {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 36px;
  transform: scaleX(0.9);
  font-family: "Druk Text Wide Web", sans-serif;
}

.proposal-right p span {
  font-size: 16px;
  font-weight: bold;
  transform: scaleY(0.6);
  display: inline-block;
}

.noProposals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(150px,16vw,400px);
}

.noProposals p {
  font-size: 31px;
  font-weight: bold;
  color: #433939;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  main.daoMain {
    padding-top: clamp(200px, 74vw, 680px);
  }

  .daoImage img {
    width: 95vw;
    height: auto;
  }

  .daoMain .first {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    padding: 0;
  }

  .daoMain .first .left {
    padding-left: 0;
  }

  .daoMain .left .one::after, .superAdmin .top .one.onesy::after {
    width: 100%;
  }

  .daoMain .location, .superAdmin .top .one .location {
    margin: 0;
  }

  .daoMain .location img, .superAdmin .top .one .location img {
    width: 16px;
    height: 16px;
  }

  .daoMain .email {
    margin: 0;
  }

  .DaoOperations h1 {
    padding: 12px 0;
    margin-bottom: 16px;
  }

  .DaoOperations h1::after {
    width: 100%;
  }

  .DaoOperations .button-group,
  .owner .button-group {
    margin: 0;
    display: flex;
    width: 100%;
  }

  .DaoOperations .button-1,
  .owner .button-1,
  .DaoOperations .button-2,
  .owner .button-2 {
    font-size: 16px;
  }

  .treasury {
    padding: 24px 0;
    margin: 24px 0;
  }

  .treasury .first {
    padding: 0 0 24px;
  }

  .treasury .one .left, .superAdmin .top .two .one .left {
    padding-top: 9px;
    font-size: 16px;
  }

  .treasury .one .right, .superAdmin .top .two .one .right {
    font-size: 24px;
  }

  .treasury .section-3 {
    margin: 0 24px;
  }

  .treasury .section-3 h2 {
    padding-top: 3px;
  }

  .section-3 .bottom p {
    padding-left: 0;
    font-size: 24px;
  }

  .section-3 .fundDao {
    margin: 0;
    justify-content: center;
  }

  .fundDao button {
    width: auto;
    padding: 0 16px;
  }

  .treasury-history h1 {
    margin: 12px;
    font-size: 24px;
  }

  .treasury-history #treasury-history {
    width: auto;
    margin: 12px;
    height: 320px;
    gap: 24px;
  }

  #treasury-history .slot {
    padding: 0 6px;
  }

  .slot .left {
    gap: 3px;
  }

  .slot .left div {
    gap: 0;
  }

  .slot .left p {
    width: auto;
    height: auto;
    margin-left: 12px;
  }

  .slot h1 {
    width: auto;
    height: auto;
    font-size: 16px;
  }

  .slot .right div {
    gap: 3px;
  }

  .slot .right .top {
    width: auto;
    height: auto;
    font-size: 12px;
  }

  .slot .right .bottom {
    width: auto;
    height: auto;
    font-size: 10px;
  }

  section.second {
    margin-bottom: 36px;
  }

  section.second::before {
    height: 640px;
    left: 24px;
  }

  section.second::after {
    display: none;
  }

  .second .main {
    margin-left: 0;
    text-align: center;
    font-size: 24px;
  }

  .second .proposal-groups {
    margin: 12px;
  }

  .second .proposal {
    margin: 0 24px;
    padding: 12px;
  }

  .proposal .one h1 {
    margin: 0;
    font-size: 18px;
  }

  .proposal .one div {
    width: auto;
    height: 36px;
    font-size: 12px;
    padding: 0 24px;
    margin-top: 12px;
  }

  .proposal .two {
    margin: 12px 0 0;
    font-size: 14px;
  }

  .proposal .three {
    flex-direction: column;
  }

  .proposal .three .button-group.button {
    flex-direction: row;
    margin: 12px 0;
    gap: 12px;
    justify-content: space-evenly;
  }

  .proposal .three .button-group button {
    width: auto;
  }

  .proposal-right h2 {
    margin: 0;
  }

  .proposal-right p {
    font-size: 26px;
    justify-content: flex-start;
    margin-left: -16px;
  }

  @media only screen and (max-width: 532px) {
    main.daoMain {
      padding-top: clamp(170px, 84vw, 680px);
    }

    .daoMain .section-2 {
      margin: 12px 0;
    }
  }
}
