p.daoRegistration {
  font-size: 24px;
  padding: 180px 12px 72px;
}

p.daoRegistration.error {
  color: #ffffff;
}

.daoRegistration {
  padding-top: clamp(120px, 13vw, 240px);
}

.funguaKikundi {
  padding-bottom: 56px;
  margin: 0 96px 10px 84px;
  position: relative;
}

.funguaKikundi::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60vw;
  background-color: #c8954b;
}

.funguaKikundi::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 60vw;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.funguaKikundi h1 {
  font-size: clamp(22px, 5vw, 100px);
  color: #c8954b;
  margin-bottom: 24px;
}

.funguaKikundi p {
  color: #ffffff;
  font-size: clamp(18px, 3vw, 68px);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
}

.circle {
  width: clamp(30px, 6vw, 70px);
  height: clamp(30px, 6vw, 70px);
  background-color: #f6be6a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000000;
}

.circle.green {
  background-color: #defc26;
}

.line {
  width: clamp(16px, 10vw, 192px);
  height: 2px;
  background-color: #f6be6a;
}

form {
  display: flex;
  flex-direction: column;
}

.combinedForms {
  margin-top: 84px;
}

.combinedForms::before {
  content: "";
  position: absolute;
  left: 36px;
  top: 1260px;
  bottom: 400px;
  width: 1px;
  background-color: #c8954b;
}

.form {
  margin: 0 72px 64px;
  display: flex;
  gap: 36px 0;
}

.form .left {
  width: 33%;
}

.form .left h2,
.wanakikundi .left h2 {
  color: #f8b859;
  font-size: clamp(21px, 2.8vw, 56px);
  padding-bottom: 16px;
}

.form p,
.wanakikundi .left p {
  color: #ffffff;
  font-size: clamp(18px, 2.1vw, 41px);
  font-style: italic;
}

.form .formDiv {
  padding: 9px 12px 0;
  width: 67%;
}

.form.one {
  position: relative;
  padding-bottom: 24px;
}

.form.one::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60vw;
  background-color: #c8954b;
}

.form.one::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 60vw;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.form.one .formDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  padding-bottom: 64px;
}

.form.two .formDiv {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.form label,
.wanakikundi label {
  color: #f8b859;
  font-weight: bold;
  font-size: clamp(14px, 1.4vw, 24px);
  padding-left: 12px;
}

.form input {
  height: clamp(40px, 5vw, 63px);
  width: 100%;
  border-radius: 15px;
  background-color: #d9d9d9;
  padding-left: 24px;
  color: #433939;
  font-size: clamp(18px, 1.8vw, 40px);
}

.form textarea {
  width: 100%;
  border-radius: 15px;
  background-color: #d9d9d9;
  padding: 12px 24px;
  color: #433939;
  font-size: 24px;
}

.short-textarea {
  min-height: 2lh;
}

.long-textarea {
  min-height: 4lh;
}

.groupDiv {
  display: grid;
  grid-template-columns: 2fr 2.6fr 1.5fr;
  gap: clamp(16px,4vw,26px);
  align-items: end;
}

.groupDiv:has(.file-input) {
  grid-template-columns: 1fr 1fr;
}

.groupDiv .keyDiv {
  flex: 1;
}

.groupDiv input {
  padding-left: 14px;
  border-radius: 11px;
  border: 3px solid #f59605;
}

.groupDiv input::placeholder {
  margin-left: -10px;
}

.groupDiv label {
  display: block;
  margin-bottom: 8px;
  color: #f8b859;
  font-weight: bold;
  font-size: clamp(10px, 1.2vw, 24px);
}

.form .file-input {
  width: clamp(124px,25.2vw,498px);
  height: clamp(34px,5vw,86px);
  border-radius: 14px;
  background-color: #92bb84;
  color: #3c3a3a;
  font-size: clamp(12px,1.5vw,23px);
  font-family: "Syne", sans-serif;
  border: none;
  text-align: center;
  padding-top: clamp(9px,1.5vw,28px);
  cursor: pointer;
}

.file-input::file-selector-button {
  background-color: #92bb84;
  color: #3c3a3a;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form .file-input-1 {
  background-color: #e2f859;
}

.form .file-input-1::file-selector-button{
  background-color: #e2f859;

}

.wanakikundi {
  display: flex;
  position: relative;
  margin: 0px 72px 36px 0px;
  margin-left: clamp(48px, 8vw, 132px);
  padding-bottom: 72px;
  display: flex;
}

.wanakikundi::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60vw;
  background-color: #c8954b;
}

.wanakikundi::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 60vw;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.wanakikundi .left {
  padding-top: 12px;
  width: 40%;
}

.wanakikundi .two {
  padding: clamp(36px, 4vw, 68px);
}

.wanakikundi .two img {
  width: clamp(120px, 21vw, 460px);
}

.wanakikundi .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: clamp(34px, 5vw, 84px);
}

.wanakikundi .top {
  width: clamp(220px, 28vw, 535px);
  height: clamp(32px, 5vw, 124px);
  border-radius: 16px;
  color: #433939;
  background-color: #ffbd59;
  font-size: clamp(16px, 1.8vw, 40px);
  font-family: "DM Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanakikundi .formDiv,
.findAndJoin .formDiv {
  width: clamp(90px, 50vw, 920px);
  height: clamp(70px, 40vw, 670px);
  background-color: #4b4546;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanakikundi .first,
.findAndJoin .first {
  display: flex;
  gap: clamp(18px, 2vw, 36px);
}

.wanakikundi .input,
.findAndJoin .input {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(20px, 2vw, 48px);
}

.wanakikundi input,
.wanakikundi select,
.findAndJoin input,
.findAndJoin select {
  padding-left: 16px;
  font-size: clamp(14px, 1.7vw, 24px);
  width: clamp(70px, 26vw, 464px);
  height: clamp(10px, 4vw, 55px);
  color: #433939;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.wanakikundi .input .memberNames {
  display: flex;
  gap: 12px;
}

.wanakikundi .input .memberNames input:nth-of-type(1),
.wanakikundi .input .memberNames input:nth-of-type(2) {
  width: clamp(40px, 12.5vw, 226px);
}

.wanakikundi .short {
  width: clamp(60px, 11vw, 246px);
}

.wanakikundi .buttons {
  padding: 10px 3px;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

.wanakikundi .buttons button {
  border: 1px solid #f8b859;
  border-radius: 12px;
  cursor: pointer;
}

.wanakikundi .button-1 {
  width: clamp(120px, 16vw, 289px);
  height: clamp(38px, 4vw, 46px);
  padding: 13px;
  color: #f1e8ea;
  background-color: #24221e;
  font-size: clamp(12px, 1.5vw, 18px);
  font-family: "Tajawal", sans-serif;
}

.wanakikundi .button-2 {
  width: clamp(140px, 18vw, 346px);
  height: clamp(27px, 4.7vw, 49px);
  padding: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1b791b;
  font-size: clamp(14px, 1.5vw, 21px);
}

.hazina {
  /* padding: 64px 90px; */
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.hazina .left {
  margin-left: 64px;
}

.hazina h2 {
  margin-bottom: 36px;
  color: #f8b859;
  font-size: 63px;
}

.hazina p {
  color: #ffffff;
  font-size: 31px;
  font-style: italic;
}

.hazina .formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(300px,60vw,780px);
  height: clamp(190px,29vw,473px);
  border-radius: 14px;
  background-color: #4b4546;
}

.keyDiv {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hazina .connect-wallet-label {
  width: 958px;
  height: 57px;
  color: #ffffff;
  font-size: 38px;
  display: inline-block;
}

.hazina .account-number-label {
  display: inline-block;
  width: 1153px;
  height: 53px;
  color: #ffffff;
  font-style: italic;
  font-size: 29px;
}

/* .hazina input {
  width: 1051px;
  height: 102px;
  border-radius: 20px;
  background-color: #efefee;
  padding: 24px;
  color: #aea8a8;
  font-size: 37px;
} */

/* .hazina input::placeholder {
  color: #aea8a8;
  font-size: 37px;
  width: 988px;
  height: 44;
} */

button.createDao {
  width: clamp(200px, 28vw, 504px);
  height: clamp(48px, 7vw, 122px);
  color: #fbfaf8;
  background-color: #56923f;
  font-size: clamp(16px, 4.5vw, 31px);
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 36px;
}

.form-progress {
  width: 30vw;
  margin: 3.5rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  /* background-color: #f2f2f2; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}

.form-progress p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.form-progress button {
  padding: 0 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  min-width: 80px;
  height: 1.8rem;
}

.form-progress button:hover {
  background-color: #0056b3;
}




@media only screen and (max-width: 1024px) {
  .funguaKikundi {
    padding-bottom: 24px;
    margin: 0 24px 24px;
  }

  .funguaKikundi h1 {
    margin-bottom: 6px;
  }

  .funguaKikundi::after {
    width: 88vw;
  }

  .funguaKikundi::before {
    left: 88vw;
  }

  .circle-container {
    padding: 24px 24px 0px;
    justify-content: center;
  }

  .combinedForms {
    margin: 0px;
  }

  .combinedForms::before {
    display: none;
  }

  .form {
    margin: 12px 24px;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .form .left {
    width: 100%;
  }

  .form .left h2,
  .wanakikundi .left h2 {
    padding-bottom: 9px;
    text-align: center;
  }

  .form .formDiv {
    padding: 0;
    width: 100%;
  }

  .form.one::before {
    left: 88vw;
  }

  .form.one::after {
    width: 88vw;
  }

  .form.one .formDiv {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-bottom: 12px;
  }

  .form.two .formDiv {
    gap: 9px;
  }

  .form label {
    padding-left: 6px;
  }

  .form input {
    border-radius: 9px;
    padding: 12px;
  }

  .form textarea {
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 18px;
  }

  .groupDiv label {
    margin-bottom: 0;
  }

  .form .file-input {
    width: clamp(14px,38vw,412px);
  }

  .wanakikundi {
    flex-direction: column;
    margin: 16px 24px 0;
    padding-bottom: 44px;
  }

  .wanakikundi::after {
    width: 88vw;
  }

  .wanakikundi::before {
    left: 88vw;
  }

  .wanakikundi .left {
    width: 100%;
  }

  .wanakikundi .left p {
    margin-bottom: 24px;
    text-align: center;
  }

  .wanakikundi .two {
    padding: 0 0 10px;
    display: flex;
    justify-content: center;
  }

  .wanakikundi .right {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  .wanakikundi .top {
    padding: 0 12px;
  }

  .wanakikundi .formDiv,
  .findAndJoin .formDiv {
    width: clamp(90px, 90vw, 820px);
    height: clamp(70px, 80vw, 580px);
  }

  .wanakikundi .formDiv .div {
    width: 90%;
  }

  .wanakikundi .first,
  .findAndJoin .first {
    gap: clamp(18px, 5vw, 45px);
  }

  .wanakikundi .input {
    margin-bottom: 6px;
  }

  .wanakikundi label {
    font-size: clamp(9px, 3vw, 23px);
    margin-bottom: 3px;
  }

  .wanakikundi input,
  .wanakikundi select,
  .findAndJoin input,
  .findAndJoin select {
    padding-left: 12px;
    font-size: clamp(10px, 3vw, 26px);
    width: clamp(162px, 41.5vw, 369px);
    height: clamp(10px, 8vw, 65px);
  }

  .wanakikundi .input .memberNames {
    gap: 12px;
  }

  .wanakikundi .input .memberNames input:nth-of-type(1),
  .wanakikundi .input .memberNames input:nth-of-type(2) {
    width: clamp(40px, 19.4vw, 178px);
  }

  .wanakikundi .short {
    width: clamp(60px, 24vw, 115px);
  }

  .wanakikundi .buttons {
    flex-direction: row;
  }

  .wanakikundi .button-1 {
    width: clamp(106px, 33vw, 272px);
    height: clamp(28px, 6vw, 54px);
    font-size: clamp(9px, 2.7vw, 24px);
  }

  .wanakikundi .button-2 {
    width: clamp(106px, 33vw, 297px);
    height: clamp(30px, 6.5vw, 57px);
    padding: 14px;
    font-size: clamp(9px, 1.5vw, 21px);
  }

  .hazina {
    padding: 9px 0;
    gap: 0;
  }

  .hazina .left {
    margin: 0 24px;
  }

  .hazina h2 {
    margin-bottom: 9px;
    width: auto;
    height: auto;
    font-size: 26px;
  }

  .hazina p {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .hazina .formDiv {
    padding: 36px;
    width: auto;
    height: auto;
    margin: 16px 24px 0;
  }

  .hazina .connect-wallet-label {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .button-group {
    flex-direction: column;
    gap: 12px;
  }

  .button-group button {
    width: auto;
    height: 48px;
    font-size: 20px;
  }

  .hazina .account-number-label {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .hazina input {
    width: auto;
    height: 40px;
    font-size: 18px;
    padding: 12px;
  }

  .hazina input::placeholder {
    font-size: 18px;
  }

  .form-progress {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
  }
}
