.daoRegistration {
  padding-top: 240px;
}

.funguaKikundi {
  padding: 0 90px 420px;
  position: relative;
  height: 390px;
  width: 100%;
  margin-bottom: 16px;
}

.funguaKikundi::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 941px;
  background-color: #c8954b;
}

.funguaKikundi::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1024px;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.funguaKikundi h1 {
  width: 1022px;
  height: 218px;
  font-size: 80px;
  color: #c8954b;
  margin-bottom: 24px;
}

.funguaKikundi p {
  width: 963px;
  height: 139px;
  color: #ffffff;
  font-size: 48px;
}

.circle-container {
  display: flex;
  align-items: center;
  padding: 72px 0 64px 216px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #f6be6a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000000;
}

.circle.one {
  background-color: #defc26;
}

.line {
  width: 164px;
  height: 2px;
  background-color: #f6be6a;
}

.combinedForms::before {
  content: "";
  position: absolute;
  left: 64px;
  top: 1660px;
  bottom: 1020px;
  width: 1px;
  background-color: #c8954b;
}


.form {
  padding: 72px 90px 20px;
  display: flex;
  gap: 36px;
}

.form .left {
  width: 432px;
}

.form .left h2,
.wanakikundi .left h2 {
  color: #f8b859;
  width: 376px;
  font-size: 36px;
  padding-bottom: 16px;
}

.form p {
  color: #ffffff;
  font-size: 31px;
  font-style: italic;
}

.form .formDiv {
  width: calc(100% - 432px);
  padding-top: 9px;
}

.form.one {
  position: relative;
  margin-bottom: 16px;
}

.form.one::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 941px;
  background-color: #c8954b;
}

.form.one::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1024px;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.form.one .formDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 0;
  padding-bottom: 72px;
}

.form.two .formDiv {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.form .formDiv div {
  display: flex;
  flex-direction: column;
}

.form label {
  color: #f8b859;
  font-weight: bold;
  font-size: 24px;
  padding-left: 12px;
}

.form input {
  height: 63px;
  width: 397px;
  border-radius: 15px;
  background-color: #d9d9d9;
  padding-left: 24px;
  color: #433939;
  font-size: 24px;
}

.form textarea {
  width: 836px;
  border-radius: 15px;
  background-color: #d9d9d9;
  padding: 24px;
  color: #433939;
  font-size: 37px;
}

.short-textarea {
  height: 168px;
}

.long-textarea {
  height: 393px;
}

.form .file-input {
  width: 382px;
  height: 86px;
  border-radius: 14px;
  background-color: #92bb84;
  color: #3c3a3a;
  font-size: 23px;
  font-family: "Syne", sans-serif;
  border: none;
  padding: 30px 24px;
  text-align: center;
  cursor: pointer;
}

.file-input::file-selector-button {
  background-color: #92bb84;
  color: #3c3a3a;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.wanakikundi {
  padding: 72px 90px 72px 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.wanakikundi::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 90px;
  width: 941px;
  background-color: #c8954b;
}

.wanakikundi::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1024px;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.wanakikundi .left {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-top: 12px;
}

.wanakikundi p {
  color: #ffffff;
  font-size: 31px;
  width: 460px;
  font-style: italic;
}

.wanakikundi .two {
  padding: 48px 36px;
}

.wanakikundi .right {
  width: calc(100% - 460px);
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 64px;
  padding-right: 36px;
}

.wanakikundi .top {
  width: 435px;
  height: 69px;
  border-radius: 16px;
  color: #433939;
  background-color: #ffbd59;
  font-size: 30px;
  font-family: "DM Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wanakikundi .formDiv,
.findAndJoin .formDiv {
  width: 683px;
  height: 486px;
  background-color: #4b4546;
  flex-grow: 1;
  border-radius: 9px;
  padding: 56px;
}

.wanakikundi label,
.findAndJoin label {
  width: 182px;
  height: 29px;
  color: #f8b859;
  font-size: 17px;
}

.wanakikundi .first,
.findAndJoin .first {
  display: flex;
  gap: 40px;
}

.wanakikundi .short,
.findAndJoin .short {
  width: 159px;
}

.wanakikundi .input,
.findAndJoin .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.wanakikundi input, .wanakikundi select,
.findAndJoin input, .findAndJoin select {
  padding-left: 24px;
  font-size: 24px;
  color: #433939;
  width: 323px;
  height: 55px;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.wanakikundi .buttons {
  gap: 72px;
  padding: 10px 3px;
  align-items: center;
}

.wanakikundi .buttons button {
  border: 1px solid #f8b859;
  border-radius: 12px;
  cursor: pointer;
}

.wanakikundi .button-1 {
  width: 209px;
  height: 46px;
  padding: 13px;
  color: #f1e8ea;
  background-color: #24221e;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
}

.wanakikundi .button-2 {
  width: 260px;
  height: 49px;
  padding: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5e503a;
  font-size: 21px;
}

.hazina {
  padding: 64px 90px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hazina .left {
  margin-left: 64px;
}

.hazina h2 {
  margin-bottom: 36px;
  width: 913px;
  height: 60px;
  color: #f8b859;
  font-size: 63px;
}

.hazina p {
  width: 432px;
  height: 125px;
  color: #ffffff;
  font-size: 31px;
  font-style: italic;
}

.hazina .formDiv {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-left: 36px;
  padding: 56px;
  width: 1300px;
  height: 473px;
  border-radius: 14px;
  background-color: #4b4546;
}

.keyDiv {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.hazina .connect-wallet-label {
  width: 958px;
  height: 57px;
  color: #ffffff;
  font-size: 38px;
  display: inline-block;
}

.button-group {
  display: flex;
  gap: 48px;
}

.button-group button {
  width: 365px;
  height: 69px;
  color: #ffffff;
  font-size: 30px;
  border: 1px solid #dcb273;
  border-radius: 6px;
}

.button-group .button-1 {
  background-color: #e28b06;
}

.button-group .button-2 {
  background-color: #5e503a;
}

.hazina .account-number-label {
  display: inline-block;
  width: 1153px;
  height: 53px;
  color: #ffffff;
  font-style: italic;
  font-size: 29px;
}

.hazina input {
  width: 1051px;
  height: 102px;
  border-radius: 20px;
  background-color: #efefee;
  padding: 24px;
  color: #aea8a8;
  font-size: 37px;
}

.hazina input::placeholder {
  color: #aea8a8;
  font-size: 37px;
  width: 988px;
  height: 44;
}

.button-container {
  text-align: center;
  padding: 24px 0 84px 0;
}

button.createDao {
  width: 504px;
  height: 122px;
  color: #fbfaf8;
  background-color: #56923f;
  font-size: 31px;
  font-weight: bold;
  border-radius: 12px;
}

@media only screen and (max-width: 900px) {
  .daoRegistration {
    padding-top: 100px;
  }

  .funguaKikundi {
    padding: 0 20px 20px;
    height: auto;
    width: auto;
    margin-bottom: 16px;
  }

  .funguaKikundi::after {
    width: 90%;
  }

  .funguaKikundi::before {
    left: 95%;
  }

  .funguaKikundi h1 {
    width: auto;
    height: auto;
    font-size: 26px;
    margin-bottom: 6px;
  }

  .funguaKikundi p {
    width: auto;
    height: auto;
    font-size: 18px;
    font-size: 18px;
  }

  .circle-container {
    padding: 6px 24px 12px;
    justify-content: center;
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .line {
    width: 18px;
  }

  .combinedForms::before {
    display: none;
  }

  .form {
    padding: 6px 24px;
    padding: 6px 24px;
    flex-direction: column;
    gap: 16px;
  }

  .form .left {
    width: auto;
  }

  .form .left h2,
  .wanakikundi .left h2 {
    width: auto;
    font-size: 18px;
    padding-bottom: 9px;
    text-align: center;
  }

  .form p {
    font-size: 18px;
    margin-bottom: -16px;
  }

  .form .formDiv {
    width: auto;
    padding: 0;
  }

  .form.one {
    margin: 0;
  }

  .form.one::before {
    left: 95%;
  }

  .form.one::after {
    width: 90%;
  }

  .form.one .formDiv {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-bottom: 12px;
  }

  .form.two .formDiv {
    gap: 9px;
  }

  .form label {
    font-size: 16px;
    padding-left: 6px;
  }

  .form input {
    height: 40px;
    width: auto;
    border-radius: 9px;
    font-size: 16px;
    padding: 12px;
  }

  .form textarea {
    width: auto;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
  }

  .short-textarea {
    height: 120px;
  }

  .long-textarea {
    height: 240px;
  }

  .form .file-input {
    width: auto;
    height: 56px;
    padding: 18px;
    font-size: 18px;
    margin: 0 24px;
  }

  .wanakikundi {
    padding: 0px 24px 24px;
    flex-direction: column;
  }

  .wanakikundi::after {
    width: 90%;
    left: 24px;
  }

  .wanakikundi::before {
    left: 95%;
  }

  .wanakikundi p {
    font-size: 18px;
    width: auto;
  }

  .wanakikundi .two {
    padding: 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wanakikundi .two img {
    width: 140px;
  }

  .wanakikundi .right {
    width: auto;
    height: auto;
    align-items: center;
    padding: 0;
    gap: 36px;
  }

  .wanakikundi .top {
    width: auto;
    height: 36px;
    padding: 0 12px;
    font-size: 16px;
  }

  .wanakikundi .formDiv,
  .findAndJoin .formDiv {
    width: 86vw;
    height: auto;
    padding: 12px;
  }

  .wanakikundi label,
  .findAndJoin label {
    width: auto;
  }

  .wanakikundi .first,
  .findAndJoin .first {
    flex-direction: column;
    gap: 0;
  }

  .wanakikundi .short,
  .findAndJoin .short {
    width: auto;
  }

  .wanakikundi .input,
  .findAndJoin .input {
    margin-bottom: 12px;
  }

  .wanakikundi input, .wanakikundi select,
  .findAndJoin input, .findAndJoin select {
    width: auto;
    height: 40px;
    font-size: 16px;
    padding: 12px;
  }

  .wanakikundi .buttons {
    margin-top: 14px;
    gap: 12px;
    padding: 0;
  }

  .wanakikundi .buttons button {
    width: 230px;
    height: 40px;
  }

  .hazina {
    padding: 9px 0;
    gap: 0;
  }

  .hazina .left {
    margin: 0 24px;
  }

  .hazina h2 {
    margin-bottom: 9px;
    width: auto;
    height: auto;
    font-size: 26px;
  }

  .hazina p {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .hazina .formDiv {
    gap: 20px;
    padding: 24px;
    width: auto;
    height: auto;
    margin: 16px 24px 0;
  }

  .hazina .connect-wallet-label {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .button-group {
    flex-direction: column;
    gap: 12px;
  }

  .button-group button {
    width: auto;
    height: 48px;
    font-size: 20px;
  }

  .hazina .account-number-label {
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .hazina input {
    width: auto;
    height: 40px;
    font-size: 18px;
    padding: 12px;
  }

  .hazina input::placeholder  {
    font-size: 18px;
  }

  .button-container {
    padding-bottom: 32px;
  }

  button.createDao {
    width: auto;
    height: auto;
    padding: 12px 48px;
    font-size: 24px;
  }
}
