.image-container {
  height: 86vh;
  color: #ffffff;
  padding: 16px 40px;
  background-image: url("/images/image-container.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: clamp(16px,1.2vw,24px);
  margin-bottom: 36px;
}

.inner-container {
  height: calc(100% - 170px);
  position: absolute;
  top: 140px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inner-container img {
  width: clamp(96px,20vh,240px);
  margin: 9px;
}

.image-container p {
  font-size: clamp(24px, 2.3vw, 45px);
  font-family: "Droid Sans", sans-serif;
}

.image-container .main {
  font-size: clamp(40px, 3.5vw, 86px);
  color: #f8b859;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}

.buttons {
  display: flex;
  gap: 68px;
  font-size: clamp(16px,3vw,31px);
  margin-left: 84px;
}

.buttons button {
  width: clamp(240px,24vw,356px);
  height: clamp(36px,4vw,72px);
  padding: clamp(12px,1vw,24px);
  border: 2px solid #f8b859;
  border-radius: clamp(16px,1vw,24px);
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}

.button-1 {
  background-color: #24221e;
  color: #837e7f;
}

.button-2 {
  background-color: #ffffff;
  color: #131111;
}

.parag-container {
  color: #fffefe;
  margin: 32px 100px;
  font-size: clamp(18px, 4vw, 48px);
  font-family: "Droid Sans", sans-serif;
}

.main-container {
  margin: 0 90px;
  padding-left: 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.main-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 72px;
  width: 1px;
  background-color: #c8954b;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-radius: 9px;
}

.box {
  display: flex;
  height: 569px;
}

.box.one {
  background-color: #f6f7fa;
  border-radius: 9px;
}

.box-left {
  width: 59%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-left div {
  transform: translateY(-30%);
  margin: 0 48px;
}

.box-left h1 {
  color: #433939;
  font-size: clamp(19px, 4vw, 67px);
  font-weight: bold;
  top: 140px;
  left: 36px;
}

.box-left p {
  color: #231f20;
  font-size: clamp(15px, 3vw, 31px);
  font-family: "Dosis", sans-serif;
}

.box-left span {
  color: #ffbd59;
  font-weight: bold;
}

.box.one .box-right {
  background-color: #636844;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  width: 41%;
  padding-top: 24px;
}

.box.two {
  background-color: #433939;
  border-radius: 21px;
}

.box-left.two {
  background-color: #f6f7fa;
  border-radius: 10px;
}

.half-box {
  height: 586px;
  border-radius: 13px;
  background-color: #f6f7fa;
}

.groups {
  position: absolute;
  right: 1.2%;
  top: 126px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 1686px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 9px;
}

.groups::-webkit-scrollbar {
  display: none;
}

.group {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32.6vw;
  min-height: 823px;
  background-color: #ffffff;
  border-radius: 9px;
}

.image {
  position: relative;
  height: 271px;
}

.group .image img {
  border-radius: 9px;
  width: 31.5vw;
  height: 271px;
}

.image .taarifaTop {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a69d9d;
  background-color: #defc26;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.section-1 {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 16px;
}

.section-1 .left {
  margin: 12px 0 0 12px;
}

.section-1 h2 {
  margin-bottom: 6px;
  color: #433939;
  font-size: clamp(20px, 2vw, 30px);
  font-family: "DM Mono", sans-serif;
  line-height: 100%;
}

.left .location {
  margin: 0 8px 8px;
  display: flex;
  gap: 6px;
}

.location p {
  color: #a39898;
  font-size: 11px;
}

.left .email {
  width: 109px;
  height: 13px;
  color: #f8b859;
  font-weight: bold;
  font-size: 11px;
}

.group .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.group h3 {
  padding-right: 12px;
  color: #a39898;
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
}

.group .right div {
  color: #433939;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.right p {
  font-size: 10px;
  font-weight: bold;
}

.right .currency {
  padding-left: 12px;
}

.right .amount,
.treasury .amount {
  color: #433939;
  font-size: 24px;
  font-weight: 100;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleX(0.9) scaleY(1.2);
}

.section-2 {
  padding: 12px 12px;
  min-height: 140px;
  color: #433939;
  font-family: "Dosis", sans-serif;
  font-size: clamp(12px, 2vw, 18px);
}

.section-3 {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #d9d9d9;
}

.section-3 .top,
.section-3 .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 .taarifa {
  width: 182px;
  height: 29px;
  border: 1px solid #dcb273;
  border-radius: 9px;
  background-color: #ffbd59;
  font-family: "DM Mono", sans-serif;
  font-size: 12px;
  color: #433939;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 h2 {
  padding-top: 3px;
  color: #433939;
  line-height: 1.2;
  font-size: clamp(16px, 2.5vw, 34px);
  font-weight: 100;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleY(1.2);
}

.section-3 p {
  font-size: clamp(32px, 4vw, 69px);
  color: #433939;
  padding: 24px 12px;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleY(1.2);
}

.parag-container-two {
  margin: 64px 100px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parag-container-two h2 {
  color: #fffefe;
  font-size: clamp(18px, 3.5vw, 56px);
  font-family: "Droid Sans", sans-serif;
}

.sub-parag-container {
  color: #fffefe;
  font-size: clamp(18px, 3.5vw, 56px);
  font-family: "Encode Sans", sans-serif;
}

.article-container {
  display: flex;
  padding: 16px 90px 120px;
  justify-content: space-evenly;
  align-items: center;
}

.article-container article {
  width: clamp(70px, 25vw, 392px);
  height: clamp(70px, 29vw, 354px);
  border-bottom: 1px solid #c8954b;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.article-container article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.article-container div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  z-index: 2;
}

.article-container h2 {
  color: #ffffff;
  font-size: clamp(12px, 2.5vw, 43px);
}

.article-container p {
  color: #f6f7fa;
  font-size: clamp(8px, 1.8vw, 24px);
  font-weight: normal;
  font-family: "Dosis", sans-serif;
}

@media only screen and (max-width: 900px) {
  .image-container {
    height: 380px;
    padding: 0 24px;
    margin-bottom: 12px;
  }

  .inner-container {
    top: 126px;
    padding-left: 0px;
    height: calc(100% - 136px);
  }
  .inner-container img {
    margin: 0;
    width: clamp(100px,12vw,196px);
  }

  .image-container .main {
    font-size: clamp(23px, 7vw, 31px);
  }

  .image-container p {
    font-size: clamp(12px, 4vw, 18px);
  }

  .buttons {
    gap: 16px;
    font-size: 18px;
    margin: 0 36px;
    flex-direction: column;
  }

  .buttons button {
    width: auto;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
  }

  .parag-container {
    margin: 24px;
  }

  .main-container {
    margin: 0 0 0 16px;
    padding: 0 16px;
  }

  .main-container .boxes {
    width: auto;
    gap: 20px;
  }

  .box {
    margin: 0;
    height: 140px;
  }

  .box-left {
    padding: 0 24px;
  }

  .box-left div {
    transform: translateY(0%);
    margin: 0 24px;
  }

  .box.one .box-right,
  .box.two .box-right {
    display: none;
  }

  .box-left {
    width: auto;
  }

  .half-box {
    height: 140px;
  }

  .groups {
    position: initial;
    margin-top: -20px;
    height: 560px;
  }

  .group {
    width: auto;
    padding: 9px;
    display: initial;
    min-height: 560px;
  }

  .image {
    height: auto;
  }

  .group .image img {
    width: 100%;
    height: clamp(200px, 27vw, 270px);
  }

  .image .taarifaTop {
    width: 64px;
    height: 16px;
    font-size: 12px;
    border-radius: 6px;
  }

  .section-1 {
    display: initial;
  }

  .section-1 .left {
    margin: 0;
  }

  .left .location,
  .left .email {
    margin: 0;
  }

  .group .right {
    margin: 3px 0 0;
    align-items: flex-start;
  }

  .group h3 {
    width: auto;
    margin-top: 6px;
  }

  .right p {
    width: auto;
  }

  .right .currency {
    padding-left: 6px;
  }

  .right .amount,
  .treasury .amount {
    font-size: 16px;
  }

  .section-2 {
    padding: 36px 0px 9px;
    font-size: 14px;
    margin: 0;
    margin-top: -28px;
    min-height: auto;
  }

  .section-3 {
    padding: 9px;
    gap: 3px;
  }

  .section-3 h2 {
    width: 231px;
  }

  .parag-container-two {
    margin: 24px 24px 6px;
    gap: 6px;
  }

  .article-container {
    padding: 2px 45px 24px;
    gap: 24px;
    margin-bottom: 12px;
  }

  .article-container article {
    border-radius: 9px;
  }

  .article-container div {
    padding: 6px;
  }
}
