.image-container {
  width: 100%;
  height: 86vh;
  color: #ffffff;
  padding: 16px 40px;
  background-image: url("/images/image-container.png");
  background-size: cover;
  position: relative;
  bottom: 24px;
}

.inner-container {
  position: absolute;
  top: 160px;
  padding-left: 48px;
}

.inner-container img {
  margin-left: 24px;
  width: 164px;
  height: auto;
}

.image-container p {
  font-size: 31px;
  font-family: "Droid Sans", sans-serif;
}

.image-container .main {
  margin: 16px 0 20px;
  font-size: 40px;
  color: #f8b859;
  font-weight: bold;
  line-height: 116%;
}

.buttons {
  display: flex;
  gap: 48px;
  font-size: 31px;
  margin-left: 84px;
}

.buttons button {
  width: 356px;
  height: 72px;
  padding: 24px;
  border: 2px solid #f8b859;
  border-radius: 24px;
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}

.button-1 {
  background-color: #24221e;
  color: #837e7f;
}

.button-2 {
  background-color: #ffffff;
  color: #131111;
}

.parag-container {
  width: 1236px;
  color: #fffefe;
  display: flex;
  margin: 32px 100px;
  align-items: center;
  font-size: 48px;
  font-family: "Droid Sans", sans-serif;
}

.main-container {
  margin: 0 90px;
  padding: 0 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.main-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 72px;
  width: 1px;
  background-color: #c8954b;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-radius: 9px;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 84vw;
  height: 569px;
}

.box.one {
  background-color: #f6f7fa;
  border-radius: 9px;
}

.box-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box-left h1 {
  width: 582px;
  height: 85px;
  color: #433939;
  font-size: 67px;
  font-weight: bold;
  position: absolute;
  top: 140px;
  left: 36px;
}

.box-left p {
  width: 568px;
  height: 112px;
  color: #231f20;
  font-size: 31px;
  font-family: "Dosis", sans-serif;
  position: absolute;
  top: 240px;
  left: 36px;
}

.box-left span {
  color: #ffbd59;
  font-weight: bold;
}

.box.one .box-right {
  background-color: #636844;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  width: 36vw;
  height: 571px;
  padding-top: 24px;
}

.box.two {
  background-color: #433939;
  border-radius: 21px;
}

.box-left.two {
  width: 48vw;
  height: 570px;
  background-color: #f6f7fa;
  border-radius: 10px;
}

.half-box {
  width: 48vw;
  height: 586px;
  border-radius: 13px;
  background-color: #f6f7fa;
}

.half-box h1 {
  height: 163px;
  top: 64px;
  line-height: 1;
}

.groups {
  position: absolute;
  right: 1.5%;
  top: 126px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 1686px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 9px;
}

.groups::-webkit-scrollbar {
  display: none;
}

.group {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32.6vw;
  min-height: 823px;
  background-color: #ffffff;
  border-radius: 9px;
}

.image {
  position: relative;
  height: 271px;
}

.group .image img {
  border-radius: 9px;
  width: 400px;
}

.image .taarifaTop {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 110px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a69d9d;
  background-color: #defc26;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.section-1 {
  margin: 0 16px;
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 16px;
}

.section-1 h2 {
  margin: 16px 0 3px;
  color: #433939;
  font-size: 30px;
  font-family: "DM Mono", sans-serif;
}

.left .location {
  margin: 0 8px 9px;
  display: flex;
  gap: 6px;
}

.location p {
  height: 13px;
  color: #a39898;
  font-size: 11px;
}

.left .email {
  width: 109px;
  height: 13px;
  color: #f8b859;
  font-weight: bold;
  font-size: 11px;
}

.group .right {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.group h3 {
  padding-right: 3px;
  width: 166px;
  height: 20px;
  color: #a39898;
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
}

.group .right div {
  color: #433939;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right p {
  width: 23px;
  height: 12px;
  font-size: 10px;
  font-weight: bold;
  padding-left: 16px;
}

.right .amount,
.treasury .amount {
  padding: 0;
  width: 248px;
  height: 31px;
  color: #433939;
  font-size: 28px;
  font-weight: 100;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleX(0.9) scaleY(1.2);
}

.section-2 {
  padding: 12px 12px 136px;
  height: 140px;
  color: #433939;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}

.section-3 {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #d9d9d9;
}

.section-3 .top,
.section-3 .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 .taarifa {
  width: 182px;
  height: 29px;
  border: 1px solid #dcb273;
  border-radius: 9px;
  background-color: #ffbd59;
  font-family: "DM Mono", sans-serif;
  font-size: 12px;
  color: #433939;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 h2 {
  padding-top: 3px;
  width: 926px;
  height: 71px;
  color: #433939;
  line-height: 1.2;
  font-size: 28px;
  font-weight: 100;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleY(1.2);
}

.section-3 p {
  width: 178px;
  height: 110px;
  font-size: 69px;
  color: #433939;
  padding: 24px 12px;
  font-family: "Druk Text Wide Web", sans-serif;
  display: inline-block;
  transform: scaleY(1.2);
}

.parag-container-two {
  margin: 64px 100px;
  width: 1043px;
  height: 309px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.parag-container-two h2 {
  color: #fffefe;
  font-size: 56px;
  font-family: "Droid Sans", sans-serif;
}

.sub-parag-container {
  color: #fffefe;
  font-size: 56px;
  font-family: "Encode Sans", sans-serif;
}

.article-container {
  display: flex;
  padding: 16px 90px 120px;
  justify-content: space-evenly;
}

.article-container article {
  width: 392px;
  height: 460px;
  border-bottom: 1px solid #c8954b;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.article-container article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1;
}

.article-container div {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  z-index: 2;
}

.article-container h2 {
  color: #ffffff;
  font-size: 43px;
}

.article-container .two h2 {
  font-size: 56px;
}

.article-container p {
  color: #f6f7fa;
  font-size: 24px;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  height: 110px;
}

@media only screen and (max-width: 900px) {
  .image-container {
    height: 480px;
    padding: 0 24px;
  }

  .inner-container {
    width: auto;
    top: 126px;
    padding-left: 0px;
  }
  .inner-container img {
    margin: 0;
  }
  .image-container p {
    width: auto;
    height: auto;
    font-size: 18px;
    margin-right: 24px;
  }

  .image-container .main {
    margin: 16px 24px 9px 0;
    font-size: 26px;
    height: auto;
    width: auto;
  }

  .buttons {
    gap: 16px;
    font-size: 18px;
    margin: 0 36px;
    flex-direction: column;
  }

  .buttons button {
    width: auto;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }

  .parag-container {
    width: auto;
    height: auto;
    margin: 24px;
    font-size: 18px;
  }

  .main-container {
    margin: 0 0 0 16px;
    padding: 0 16px;
  }

  .main-container .boxes {
    width: auto;
    gap: 20px;
  }

  .box {
    margin: 0;
    width: calc(100vw - 48px);
    height: 140px;
    flex-shrink: 0;
  }

  .box-left {
    padding: 0 24px;
  }

  .box-left h1 {
    width: auto;
    height: auto;
    font-size: 22px;
    position: initial;
  }

  .box-left p {
    width: auto;
    height: auto;
    font-size: 15px;
    position: initial;
  }

  .box.one .box-right,
  .box.two .box-right {
    display: none;
  }

  .box-left.two {
    width: auto;
    height: 140px;
  }

  .half-box {
    min-width: calc(100vw - 48px);
    height: 140px;
  }

  .groups {
    position: initial;
    margin-top: -20px;
    height: 560px;
  }

  .group {
    width: auto;
    padding: 9px;
    display: initial;
    min-height: 560px;
  }

  .image {
    height: auto;
  }

  .group .image img {
    width: 100%;
  }

  .image .taarifaTop {
    width: 64px;
    height: 16px;
    font-size: 12px;
    border-radius: 6px;
  }

  .section-1 {
    width: auto;
    display: initial;
  }

  .section-1 h2 {
    margin: -16px 9px 0;
    font-size: 20px;
  }

  .left .location {
    margin: 0 9px;
  }

  .left .location img {
    width: auto;
  }

  .left .email {
    margin: 0 9px;
  }

  .group .right {
    margin-top: 3px;
    align-items: flex-start;
  }

  .group h3 {
    width: auto;
    margin: 6px 9px 0;
  }

  .right p {
    width: auto;
    padding: 0 9px;
  }

  .right .amount,
  .treasury .amount {
    font-size: 16px;
    width: auto;
  }

  .section-2 {
    padding: 0 9px 9px;
    font-size: 14px;
    margin: 0;
    margin-top: -28px;
    width: auto;
    height: auto;
  }

  .section-3 {
    padding: 9px;
    gap: 3px;
  }

  .section-3 img {
    width: auto;
    height: auto;
  }

  .section-3 .taarifa {
    width: auto;
    height: auto;
    padding: 0 6px;
  }

  .section-3 h2 {
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 0;
  }

  .section-3 p {
    width: auto;
    height: auto;
  }

  .parag-container-two {
    margin: 24px 24px 6px;
    gap: 6px;
    width: auto;
    height: auto;
  }

  .parag-container-two h2,
  .sub-parag-container {
    font-size: 20px;
  }

  .article-container {
    padding: 24px 28px;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 12px;
  }

  .article-container article {
    width: auto;
    height: 180px;
    border-radius: 9px;
  }

  .article-container h2,
  .article-container .two h2 {
    font-size: 26px;
  }

  .article-container p {
    font-size: 18px;
  }

  .article-container div {
    bottom: -36px;
  }
}

@media only screen and (width: 1512px) {
  .inner-container {
    top: 212px;
  }
  .inner-container img {
    width: 246px;
  }

  .image-container p {
    font-size: 40px;
  }

  .image-container .main {
    font-size: 78px;
  }

  .box-left h1 {
    left: 64px;
  }

  .box-left p {
    left: 64px;
  }

  .box-left.two {
    width: 728px;
  }

  .half-box {
    width: 712px;
  }

  .half-box p {
    width: 594px;
    height: 173px;
  }

  .groups {
    right: 54px;
  }

  .group .image img {
    width: 100%;
  }

  .image .taarifaTop {
    width: 127px;
    height: 37px;
    border-radius: 15px;
  }

  .section-2 {
    margin-left: -16px;
    padding: 12px 0 136px;
    width: 432px;
  }
}
