.jifunze {
  padding-top: clamp(120px,16vw,240px);
}

div.onee {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
  margin: 0 96px 56px 96px;
  position: relative;
}

div.onee::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  width: calc(97.6% - 16px);
  background-color: #c8954b;
}

div.onee::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 97.6%;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.jifunze .onee .left {
  width: 85%;
  font-size: clamp(18px,4.9vw,56px);
  color: #fffefe;
}

.onee .image img {
  width: clamp(70px,11vw,175px);
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  margin: 2rem 5rem;
}

.search-filter .search {
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
}

.search-filter .search:focus {
  border-color: #007bff;
  outline: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 5rem;
}

.pagination button {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination span {
  font-size: 1rem;
  color: #333;
}

/* Responsive design */
@media (max-width: 1024px) {
  div.onee {
    margin: 0 24px;
  }
  .search-filter {
    flex-direction: column;
    gap: 0.75rem;
    margin: 12px;
  }
  
  .pagination {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 48px;
  }

  .pagination button {
    width: 40%;
    padding: 0.5rem 1.5rem;
  }
}

.jifunze .imagge {
    padding: 64px 12px;
    background-color: #4b454662;;
}