.jifunze {
  padding-top: clamp(120px, 16vw, 240px);
}

div.onee {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
  margin: 0 96px 56px 96px;
  position: relative;
}

div.onee::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  width: calc(97.6% - 16px);
  background-color: #c8954b;
}

div.onee::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 97.6%;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.jifunze .onee .left {
  width: 85%;
  font-size: clamp(18px, 4.9vw, 56px);
  color: #fffefe;
}

.onee .image img {
  width: clamp(70px, 11vw, 175px);
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  margin: 2rem 10rem;
}

.search-filter .search {
  width: 60%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
}

.search-filter .search:focus {
  outline: none;
}


.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category-button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.category-button:hover {
  background-color: #f0f0f0;
}

.category-button.active {
  background-color: #c8954b;
  color: white;
  border-color: #c8954b;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem 0 5rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid #c8954b;
  background-color: #c8954b;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #c8954b;
  color: white;
}

.pagination button:disabled {
  border-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
  background-color: #f5f5f5;
}

.pagination .page-button.active {
  background-color: #c8954b;
  color: white;
  font-weight: bold;
}

.pagination span {
  font-size: 0.95rem;
  color: #b8b8b8;
}

/* Responsive design */
@media (max-width: 1024px) {
  div.onee {
    margin: 0 24px;
  }
  .search-filter {
    flex-direction: column;
    gap: 0.75rem;
    margin: 12px;
  }

  .search-filter .search {
    padding: 6px 12px;
    width: 90%;
  }

  .pagination {
    gap: 0.5rem;
    margin-bottom: 48px;
  }

  .pagination button {
    padding: 7px 0;
    width: 72px;
    font-size: 12px;
  }
}
