.daoRegistration.join .funguaKikundi {
  margin-bottom: 48px;
}

.daoRegistration.join .form select {
  width: 253px;
  height: 64px;
  border-radius: 15px;
  background-color: #d9d9d9;
  font-size: clamp(18px,4vw,24px);
  font-family: "DM Mono", sans-serif;
  color: #433939;
  padding: 0 36px;
}

.daoRegistration.join .form.one {
  gap: 16px;
  padding-left: 100px;
}

.daoRegistration.join .form.one::after {
  display: none;
}

.daoRegistration.join .form.one::before {
  display: none;
}

.digitalWallet {
  padding: 0;
}

.digitalWallet .left {
  padding-bottom: 24px;
  margin-left: 0;
  position: relative;
}

.digitalWallet .left::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 60vw;
  background-color: #c8954b;
}

.digitalWallet .left::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 60vw;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.digitalWallet h2 {
  width: clamp(22px, 87vw, 1570px);
  font-size: 63px;
  color: #f8b859;
}

.digitalWallet p {
  margin-left: 6px;
  width: 516px;
  height: 125px;
  font-size: 31px;
  font-style: italic;
  color: #ffffff;
}

.digitalWallet .formDiv {
  margin: 28px;
  display: flex;
  align-items: center;
}

.digitalWallet .formDiv p {
  text-align: center;
  font-style: normal;
}

.connectWallet {
  width: clamp(120px, 22vw, 365px);
  height: clamp(32px, 7vw, 69px);
  color: #ffffff;
  background-color: #d0820c;
  border: 1px solid #dcb273;
  border-radius: 6px;
  font-size: clamp(16px, 2vw, 30px);
  cursor: pointer;
}

.daoRegistration.join .combinedForms::before {
  display: none;
}

/* .daoRegistration.join .button-container {
  display: flex;
  gap: 36px;
  padding: 64px 0 36px 120px;
  position: relative;
}

.daoRegistration.join .button-container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: 96px;
  width: 941px;
  background-color: #c8954b;
}

.daoRegistration.join .button-container::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 1036px;
  width: 8px;
  height: 8px;
  background-color: #c8954b;
  border-radius: 50%;
}

.daoRegistration.join .createDao {
  width: 503px;
}

.daoRegistration.join .joinDao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 437px;
  height: 123px;
  border-radius: 8px;
  background-color: #d0820c;
  font-size: 30px;
  color: #fbfaf8;
  font-weight: bold;
  padding: 0 84px 0 72px;
} */

.connectButton {
  width: 100%;
  text-align: center;
  padding: 4rem;
}

.findAndJoin {
  margin: 84px 142px 70px;
  display: flex;
  justify-content: space-evenly;
}

.findAndJoin .one {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 376px;
}

.findAndJoin h2 {
  color: #f8b859;
  font-size: clamp(24px, 4vw, 36px);
}

.findAndJoin p {
  font-size: clamp(18px, 2vw, 31px);
  color: #ffffff;
  font-style: italic;
}

.findAndJoin .image {
  padding-right: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.findAndJoin .select-1, .popupp form select {
  /* width: clamp(200px, 20vw, 435px); */
  height: clamp(36px, 3vw, 69px);
  border-radius: 16px;
  padding: 0 16px;
  border: 1px solid #dcb273;
  background-color: #856d4a;
  font-size: clamp(16px, 1.5vw, 30px);
  color: #d9d9d9;
  font-family: "DM Mono", sans-serif;
}

.createAccount {
  margin-bottom: 4rem;
  width: clamp(200px,39vw,319px);
  height: clamp(36px, 6vw, 50px);
  border-radius: 13px;
  background-color: #48b248;
  border: 1px solid #defc26;
}

@media only screen and (max-width: 1024px) {
  .daoRegistration.join .funguaKikundi {
    margin-bottom: 0;
  }

  .daoRegistration.join .form select {
    width: auto;
    height: 40px;
    border-radius: 9px;
    padding: 0 12px;
  }

  .daoRegistration.join .form.one {
    padding: 9px;
  }

  .digitalWallet {
    margin: 0 24px;
  }

  .digitalWallet .left {
    padding: 0;
    margin: 0;
  }

  .digitalWallet .left::after {
    left: 0;
    width: 90vw;
  }

  .digitalWallet .left::before {
    left: 90vw;
  }

  .digitalWallet h2 {
    font-size: 24px;
  }

  .digitalWallet p {
    margin: 0 0 36px;
    width: auto;
    height: auto;
    font-size: 18px;
  }

  .digitalWallet .formDiv {
    margin: 36px 0;
  }

  .daoRegistration.join .button-container {
    gap: 24px;
    padding: 0 0 36px;
    margin: 0 24px;
    flex-direction: column;
  }

  .daoRegistration.join .button-container button {
    width: auto;
    height: 64px;
    font-size: 24px;
  }

  .daoRegistration.join .button-container::after {
    left: 0;
    width: 100%;
  }

  .daoRegistration.join .button-container::before {
    left: 100%;
  }

  .findAndJoin {
    margin: 24px;
    flex-direction: column;
    gap: 36px;
    align-items: center;
  }

  .findAndJoin .one {
    gap: 16px;
    width: auto;
  }

  .findAndJoin .image {
    padding: 0;
  }

  .image img {
    width: 123px;
  }

  .findAndJoin .select-1 {
    width: clamp(200px, 40vw, 435px);
    height: clamp(36px, 5vw, 69px);
    font-size: clamp(16px, 4vw, 30px);
  }
}
