.navbarOwner {
  background-color: #4b4546;
}

.owner {
  background: linear-gradient(to bottom, #ffffff 51%, #282424 78%);
}

.owner .tops .one {
  color: #433939;
}

.owner .tops {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: clamp(120px, 20vw, 230px) clamp(24px, 7vw, 96px) 0;
}

.owner .tops h1 {
  font-size: 76px;
}

.owner .tops .one p {
  width: 963px;
  height: 139px;
  font-size: 48px;
}

.owner .tops img {
  display: none;
}

.owner .button-group {
  display: flex;
  gap: 30px;
  margin: 32px clamp(24px, 7vw, 96px) 0;
}

.owner .second .myProposals {
  display: flex;
  align-items: center;
  margin: 48px 9px;
  gap: 9px;
}

.owner .myProposals h2 {
  width: 214px;
  height: 47px;
  font-size: 31px;
  font-weight: 400;
  color: #fbfaf8;
}

.owner section.second::after {
  display: none;
}

section.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px 0 84px;
  height: 256px;
  background-color: #4a4043;
}

.third article,
.third article div {
  display: flex;
}

.third article {
  flex-direction: column;
  gap: 24px;
}

.third article div {
  gap: 16px;
}

.third article h1 {
  width: 260px;
  height: 30px;
  font-size: 31px;
  font-weight: bold;
  color: #ffffff;
}

.third article p {
  width: 360px;
  height: 48px;
  font-size: 20px;
  color: #ffffff;
}

.ownerFooter {
  background: transparent;
}

@media only screen and (max-width: 900px) {
  .owner .tops h1 {
    width: auto;
    height: auto;
    font-size: 36px;
  }

  .owner .tops .one p {
    width: auto;
    height: auto;
    font-size: 24px;
  }

  .owner .button-group button {
    width: 85vw;
    font-size: 16px;
  }

  .owner .second .sec img {
    width: 0px;
  }

  .owner .second .sec h1 {
    font-size: 24px;
  }

  .owner .second .myProposals {
    margin: 24px 0;
  }

  .owner .myProposals h2 {
    width: auto;
    height: auto;
    font-size: 24px;
  }

  .owner .proposal-groups .button-group button {
    font-weight: 400;
  }

  section.third {
    padding: 6px 3px;
    height: auto;
    align-items: flex-start;
  }

  .third article {
    gap: 12px;
  }

  .third article div {
    gap: 3px;
    flex-direction: column;
    align-items: center;
  }

  .third article div img {
    width: 16px;
    height: 16px;
  }

  .third article h1 {
    width: auto;
    height: auto;
    font-size: 12px;
  }

  .third article p {
    width: auto;
    height: auto;
    font-size: 12px;
    text-align: center;
  }
}
