.navbarOwner {
  background-color: #4b4546;
}

.owner {
  background: linear-gradient(to bottom, #636844 13%, #282424 84%);
  padding: 320px 96px 0px 78px;
}

.owner .one {
  color: #ffffff;
}

.owner .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 24px;
}

.owner .top h1 {
  width: 752px;
  height: 110px;
  font-size: 76px;
}

.owner .one p {
  width: 963px;
  height: 139px;
  font-size: 48px;
}

.owner .top img {
  margin-bottom: 24px;
}

.owner .button-group {
  display: flex;
  gap: 30px;
}

.owner .second .myProposals {
  display: flex;
  align-items: center;
  margin: 120px 0 48px 9px;
  gap: 9px;
}

.owner .myProposals h2 {
  width: 214px;
  height: 47px;
  font-size: 31px;
  font-weight: 400;
  color: #fbfaf8;
}

.owner .proposal-groups {
  margin-left: -92px;
  margin-bottom: -48px;
  gap: 48px;

}

.owner section.second::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 360px;
  height: 257px;
  width: 1px;
  background-color: #d9d9d9;
  opacity: 23%;
}

.owner section.second::after {
    display: none;
}

section.third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px 0 84px;
    height: 256px;
    background-color: #4A4043;
}

.third article, .third article div {
    display: flex;
}

.third article {
    flex-direction: column;
    gap: 24px;
}

.third article div {
  gap: 16px;
}

.third article h1 {
    width: 260px;
    height: 30px;
    font-size: 31px;
    font-weight: bold;
    color: #ffffff;
}

.third article p {
    width: 360px;
    height: 48px;
    font-size: 20px;
    color: #ffffff;
}

.ownerFooter {
    background: transparent;
}

@media only screen and (max-width: 600px) {
  .owner {
    padding: 120px 24px 0px;
  }

  .owner .top {
    margin: 0;
  }

  .owner .top h1 {
    width: auto;
    height: auto;
    font-size: 36px;
  }

  .owner .one p {
    width: auto;
    height: auto;
    font-size: 24px;
  }

  .owner .top img {
    margin-bottom: 36px;
    width: 24px;
    height: 57px;
  }

  .owner .button-group {
    margin-left: 0;
  }

  .owner .second .myProposals {
    margin: 24px 0;
  }

  .owner .myProposals h2 {
    width: auto;
    height: auto;
    font-size: 24px;
  }

  .owner .proposal-groups {
    margin: 0px;
    gap: 24px;
  }

  .owner section.second::before {
    left: 0;
    height: 640px;
  }

  .owner .proposal-groups .button-group button {
    font-weight: 400;
  }

  section.third {
    padding: 6px 3px;
    height: auto;
    align-items: flex-start;
  }

  .third article {
    gap: 12px;
  }

  .third article div {
    gap: 3px;
    flex-direction: column;
    align-items: center;
  }

  .third article div img {
    width: 16px;
    height: 16px;
  }

  .third article h1  {
    width: auto;
    height: auto;
    font-size: 12px;
  }

  .third article p {
    width: auto;
    height: auto;
    font-size: 12px;
    text-align: center;
  }
}

