@media only screen and (max-width: 600px) {
    .daoRegistration {
        padding-top: 120px;
    }

    .funguaKikundi {
        padding: 0 24px 64px;
        height: auto;
        width: auto;
        margin-bottom: 16px;
    }

    .funguaKikundi::after {
        width: 90%;
      }

      .funguaKikundi::before {
        left: 95%;
      }

    .funguaKikundi h1 {
        width: auto;
        height: auto;
        font-size: 36px;
    }

    .funguaKikundi p {
        width: auto;
        height: auto;
        font-size: 24px;
    }

    .circle-container {
        padding: 24px;
        justify-content: center;
    }

    .circle {
        width: 40px;
        height: 40px;
    }
    
    .line {
        width: 36px;
    }

    .form {
        padding: 24px;
        flex-direction: column;
        gap: 24px;
    }

    .form .left {
        width: auto;
    }

    .form .left h2, .wanakikundi .left h2 {
        width: auto;
        font-size: 24px;
        padding-bottom: 12px;
    }

    .form p {
        font-size: 20px;
    }

    .form .formDiv {
        width: auto;
        padding: 0;
    }

    .form.one {
        margin: 0;
    }

    .form.one::after {
        content: "";
        position: absolute;
        width: 98%;
        background-color: #c8954b;
      }

      .form.one .formDiv {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 24px;
      }

      .form label {
        font-size: 16px;
        padding-left: 6px;
      }

      .form input {
        height: 40px;
        width: auto;
        border-radius: 9px;
        font-size: 16px;
        padding: 12px;
      }

      .form textarea {
        width: auto;
        border-radius: 6px;
        padding: 12px;
        font-size: 24px;
      }
}