nav.SuperAdmin {
  height: clamp(136px, 19vw, 286px);
  background-color: #636844;
  align-items: flex-start;
  border-radius: 0 0 8px 8px;
}

main.superAdmin {
    padding-top: clamp(324px,32vw,520px);
}

.superAdmin .daoImage.one {
  width: clamp(400px,32vw,648px);
  height: clamp(240px,22vw,380px);
  padding: 0;
  margin: 0 48px;
  top: clamp(48px,8vw,120px);
  display: flex;
  align-items: start;
  border-radius: 40px;
}

.notification {
  width: clamp(235px,20vw,300px);
  height: clamp(100px,9vw,130px);
  border: 1px solid #757575;
  position: absolute;
  right: 48px;
  top: clamp(48px,8vw,120px);
  z-index: 2;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 16px;
  background-color: #ffffff;
  gap: 6px;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.notifications p {
  font-size: 14px;
}

.notifications button {
  border-radius: 10px;
  background-color: #14AE56;
  padding: 6px;
  color: #f5f5f5;
}

.superAdmin .top {
  display: flex;
  margin: 0 clamp(48px, 5vw,96px);
  justify-content: space-between;
}

.superAdmin .top .one {
  padding-bottom: clamp(9px,1vw,20px);
}

.superAdmin .DaoOperations {
  margin-left: clamp(24px,5vw,96px);
}

.superAdmin .top .two {
  background-color: transparent;
  position: absolute;
  right: 24px;
  top: clamp(240px,20vw,304px);
}

.superAdmin .top .two .first {
  padding-bottom: 16px;
}

.superAdmin .top .two .first::after {
  background-color: #d9d9d9;
}

.superAdmin .top .two .amount {
  transform: translateY(-20%) scaleX(0.9) scaleY(1.2);
}

.superAdmin .section{
  display: grid;
  grid-template-columns: 1.5fr 4fr 2fr;
  padding:clamp(16px,4vw,24px) 0;
  margin-bottom: 12px;
  align-items: center;
  position: relative;
}

.superAdmin .section h2 {
  font-size: clamp(16px,1.5vw,28px);
}

.superAdmin .section p {
  padding: 6px 0 0 20px;
  font-size: clamp(26px,3vw,54px);
}

.superAdmin .center {
  display: flex;
  justify-content: center;
}
.superAdmin .taarifa {
  width: 86%;
  font-weight: bold;
  padding: 18px;
  margin-top: clamp(10px,1vw,24px);
}

.superAdmin .button-group.buttons {
  position: initial;
  padding-bottom: 12px;
}

.superAdmin .fullStatement {
  display: flex;
  justify-content: end;
}

.fullStatement button {
  background-color: #f85353;
  padding: 6px 12px;
  border-radius: 7px;
  color: #ffffff;
  border: 1px solid #dcb273;
  margin-bottom: 24px;
}

@media only screen and (max-width: 900px) {
.superAdmin .centered {
  display: flex;
  justify-content: center;
  width: 100vw;
}

  .superAdmin .daoImage.one {
    width: auto;
    margin: 16px;
  }

  .notification {
    height: 110px;
    right: 16px;
    top: 54px;
    padding: 16px 12px;
  }

  .notifications button {
    padding: 3px 6px;
    font-size: 14px;
  }

  .superAdmin .top {
    flex-direction: column;
    margin: 0 24px;
  }

  .superAdmin .top .two {
    position: initial;
    padding: 12px 0;
  }

  .superAdmin .top .two .first {
    padding-bottom: 6px;
    gap: 0;
    display: initial;
  }

  .superAdmin .top .two .first::after {
    display: none;
  }

  .superAdmin .top .two .amount {
    transform: translateX(-5%) scaleX(0.9) scaleY(1.2);
  }

  .superAdmin .DaoOperations h1 {
    padding-bottom: 0;
  }

  .superAdmin .DaoOperations h1::after {
    display: none;
  }
}
