.navbarProposal {
  background-color: #636844;
}

.viewProposal {
  padding: 200px 56px 120px 120px;
  background-color: #d9d9d9;
}

.viewProposal .one {
  display: flex;
  justify-content: space-between;
}

.viewProposal img {
  cursor: pointer;
}

.viewProposal .one button {
  width: 378px;
  height: 69px;
  border-radius: 118px;
  background-color: #d23737;
  color: #fbfaf8;
  font-size: 38px;
  font-weight: bold;
  font-family: "Syne", sans-serif;
}

.viewProposal article {
  width: 62vw;
}

.viewProposal article h1 {
  color: #000000;
  font-size: 61px;
  line-height: 56px;
  position: relative;
  padding-bottom: 30px;
}

.viewProposal article h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 55vw;
  background-color: #4339396b;
}

.viewProposal article .buttons {
  margin: 40px 0 30px;
}

.viewProposal article .buttons .twoo {
  background-color: #4e79e8;
  color: #ffffff;
  border-radius: 6px;
}

.viewProposal article .buttons .twooo {
  background-color: #076d07;
  color: #ffffff;
  border-radius: 6px;
}

.viewProposal article p {
  margin: 24px 0 64px;
  color: #000000;
  font-size: 32px;
}

.viewProposal section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}

.viewProposal section .expiry {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.viewProposal section .expiry .first {
  color: #433939;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
}

.viewProposal section .link {
  width: 466px;
  height: 69px;
  border-radius: 34px;
  background-color: #000000;
  color: #ffffff;
  font-size: 39px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewProposal section .dooh {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
}

.viewProposal section .dooh .first {
  color: #433939;
  font-size: 29px;
  font-weight: bold;
  padding-right: 24px;
}

.viewProposal section .second {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #433939;
  transform: scaleX(0.9) scaleY(1.2);
}

.viewProposal section .second p.left {
  padding-top: 12px;
  font-size: 16px;
  font-family: "Druk Text Wide Web", sans-serif;
  letter-spacing: 2px;
}

.viewProposal section .second span {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
  font-family: "Druk Text Wide Web", sans-serif;
}

.viewProposal .about h1 {
  max-width: 887px;
  height: 196px;
  font-size: 74px;
  display: flex;
  align-items: center;
}

.viewProposal .about p {
  width: 912px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  color: #000000;
  position: relative;
}

.viewProposal .about p::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 55vw;
  background-color: #4339396b;
}

.viewProposal .alreadyVoted {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.viewProposal .buttonss {
  margin: 0;
  gap: 16px;
}

.viewProposal .buttonss button,
.viewProposal .buttonss p {
  color: #ffffff;
  width: 190px;
  border-radius: 8px;
  padding: 4px 0;
}

.viewProposal .buttons .onee {
  background-color: #60ce60;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.viewProposal .buttons .twoe {
  background-color: #ec221f;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.viewProposal .buttonGroup .three {
  background-color: #4e79e8;
}

.footerProposal {
  background-color: #282424;
}

.footerProposal .social-icon {
  color: #282424;
}

.social-icon:hover {
  color: #837e7f;
}

@media only screen and (max-width: 1024px) {
  .viewProposal {
    padding: 100px 0 64px;
  }

  .viewProposal img {
    width: 54px;
    height: 54px;
  }

  .viewProposal article .buttons {
    margin: 30px 12px;
    flex-direction: row;
    gap: 24px;
  }
  
  .viewProposal article .buttons .twoo {
    width: 50%;
    background-color: #4e79e8;
    color: #ffffff;
    border-radius: 6px;
  }
  
  .viewProposal article .buttons .twooo {
    width: 50%;
    background-color: #076d07;
    color: #ffffff;
    border-radius: 6px;
  }

  .viewProposal .one {
    margin: 0 12px;
    align-items: center;
  }

  .viewProposal .one button {
    width: auto;
    height: 36px;
    padding: 0 12px;
    margin: 0;
    font-size: 18px;
  }

  .viewProposal section .link {
    width: 306px;
    height: 49px;
    border-radius: 24px;
    font-size: 24px;
    text-decoration: underline;
  }

  .viewProposal article {
    margin-top: 16px;
    width: auto;
    padding: 0 20px;
  }

  .viewProposal article h1 {
    margin: 0 20px;
    font-size: 28px;
    line-height: initial;
  }

  .viewProposal article p {
    margin: 12px 24px;
    font-size: 24px;
    text-align: center;
  }

  .viewProposal section {
    margin: 24px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .viewProposal section button {
    width: 260px;
    height: 36px;
    padding: 0 12px;
    margin: 0;
    font-size: 16px;
  }

  .viewProposal section div {
    margin: 0 24px;
  }

  .viewProposal section .expiry .second {
    font-size: 14px;
  }

  .viewProposal section .dooh {
    align-items: center;
  }

  .viewProposal section .dooh .first {
    font-size: 24px;
    margin: 0 20px;
  }

  .viewProposal section .second {
    letter-spacing: initial;
  }

  .viewProposal section span {
    font-size: 16px;
  }

  .viewProposal .about {
    margin: 0 24px;
  }

  .viewProposal .about h1 {
    width: auto;
    height: auto;
    font-size: 36px;
  }

  .viewProposal .about p {
    width: auto;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .viewProposal .buttonGroup {
    gap: 12px;
    align-items: center;
  }

  .viewProposal .buttonGroup button {
    width: 260px;
    height: 36px;
    font-size: 24px;
  }

  .viewProposal .buttons {
    margin: 0 20px;
  }
  .viewProposal .buttons .onee img {
    width: 20%;
    height: auto;
  }
}
