@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "Druk Text Wide Web";
  src: url("../fonts/DrukWideWebBoldRegular.woff2") format("woff2"),
    url("../fonts/DrukWideWebBoldRegular.woff") format("woff"),
    url("../fonts/DrukWideWebBoldRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  user-select: none;
  outline: none;
  border: none;
  background: none;
  vertical-align: baseline;
  text-transform: none;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

button{
  cursor: pointer;
}

body {
  background-color: #231f20;
}

main {
  position: relative;
  overflow-x: hidden;
}
