NODE_ENV = 'development' | 'testing' | 'production'
# Database settings for production (Postgres)--set this in coolify
DATABASE_HOST=your_production_db_host
DATABASE_PORT=5432 # Default Postgres port
DATABASE_USER=your_production_db_user
DATABASE_PASSWORD=your_production_db_password
DATABASE_NAME=your_production_db_name

# Database settings for development (SQLite) - optional
# DATABASE_NAME=dev.sqlite # This is handled in the datasource
