button{
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 48px;
  font-size: 37px;
  margin-left: 84px;
}

.buttons button {
  width: 373px;
  height: 83px;
  padding: 24px;
  border: 2px solid #f8b859;
  border-radius: 24px;
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}

.button-1 {
  background-color: #24221e;
  color: #837e7f;
}

.button-2 {
  background-color: #ffffff;
  color: #131111;
}

.wanakikundi .buttons {
  gap: 72px;
  padding: 10px 3px;
  align-items: center;
}

.wanakikundi .buttons button {
  border: 1px solid #f8b859;
  border-radius: 12px;
  cursor: pointer;
}

.wanakikundi .button-1 {
  width: 209px;
  height: 46px;
  padding: 13px;
  color: #f1e8ea;
  background-color: #24221e;
  font-size: 18px;
  font-family: "Tajawal", sans-serif;
}

.wanakikundi .button-2 {
  width: 260px;
  height: 49px;
  padding: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5e503a;
  font-size: 21px;
}

.button-group {
  display: flex;
  gap: 48px;
}

.button-group button {
  width: 365px;
  height: 69px;
  color: #ffffff;
  font-size: 30px;
  border: 1px solid #dcb273;
  border-radius: 6px;
}

.button-group .button-1 {
  background-color: #e28b06;
}

.button-group .button-2 {
  background-color: #5e503a;
}

form button.createDao {
  width: 504px;
  height: 122px;
  color: #fbfaf8;
  background-color: #56923f;
  font-size: 31px;
  font-weight: bold;
  border-radius: 12px;
  margin: 96px 512px;
}
